<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartedhub_server.mapper.ClassroomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smartedhub_server.pojo.Classroom">
        <id column="class_id" property="classId" />
        <result column="classname" property="classname" />
        <result column="username" property="username" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        class_id, classname, username, validity
    </sql>
    <select id="StudentGetClassroom" resultType="com.smartedhub_server.pojo.Classroom">
        <bind name="pattern" value="'%' + classname + '%'" />
        SELECT
            *
        FROM
            smartedhub.t_classroom
        WHERE
                class_id IN (SELECT
                                 class_id
                             FROM
                                 smartedhub.t_student_class
                             WHERE
                                 student_id = #{studentId}) AND classname like #{pattern}
    </select>

    <select id="TeacherGetClassroom" resultType="com.smartedhub_server.pojo.Classroom">
        <bind name="pattern" value="'%' + classname + '%'" />
        SELECT
        *
        FROM
        t_classroom
        WHERE
        username = #{username} AND classname LIKE #{pattern}
    </select>


</mapper>
