<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartedhub_server.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smartedhub_server.pojo.Question">
        <id column="question_id" property="questionId" />
        <result column="question_detail" property="questionDetail" />
        <result column="question_title" property="questionTitle" />
        <result column="question_date" property="questionDate" />
        <result column="username" property="username" />
        <result column="correct_answer" property="correctAnswer" />
        <result column="likes" property="likes" />
        <result column="question_type" property="questionType" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <select id="GetAllQuestionByClassId" resultType="com.smartedhub_server.pojo.Question">\
        <bind name="pattern" value="'%' + questionTitle + '%'" />
        SELECT
            *
        FROM
            smartedhub.t_question
        WHERE
                question_id IN (SELECT
                                    question_id
                                FROM
                                    smartedhub.t_question_class
                                WHERE
                                    class_id = #{classId} and question_title like #{pattern})
    </select>

    <select id="GetAllQuestionByClassIdNopage" resultType="com.smartedhub_server.pojo.Question">
        <bind name="pattern" value="'%' + questionTitle + '%'" />
        SELECT
        *
        FROM
        smartedhub.t_question
        WHERE
        question_id IN (SELECT
        question_id
        FROM
        smartedhub.t_question_class
        WHERE
        class_id = #{classId} and question_title like #{pattern})
    </select>

    <update id="AddLike" >
        update smartedhub.t_question set likes = likes + 1 where question_id = #{questionId}
    </update>

    <update id="CancelLike" >
        update smartedhub.t_question set likes = likes - 1 where question_id = #{questionId}
    </update>


</mapper>
