<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartedhub_server.mapper.StudentClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smartedhub_server.pojo.StudentClass">
        <id column="student_class_id" property="studentClassId" />
        <result column="class_id" property="classId" />
        <result column="student_id" property="studentId" />
        <result column="validity" property="validity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_class_id, class_id, student_id, validity
    </sql>
    <select id="ShowClassStudent" resultType="com.smartedhub_server.pojo.Student">
        select * from t_student where student_id in (select student_id from t_student_class where class_id = #{classId})
    </select>



</mapper>
